<nav class="navbar">
    <div class="nav-container">
        <h1 class="nav-logo">Jakob H. Schauser</h1>
        <ul class="nav-menu">
            <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle">Research</a>
                <ul class="dropdown-menu">
                    <li><a href="research/index.html" class="dropdown-link">Overview</a></li>
                    <li><a href="research/publications.html" class="dropdown-link">Publications</a></li>
                    <li><a href="research/presentations.html" class="dropdown-link">Presentations</a></li>
                    <li><a href="research/drosophila.html" class="dropdown-link">Drosophila</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="links.html" class="nav-link">Links</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
        </ul>
    </div>
</nav>
